@model WebApplication1.ViewModels.HomeVM

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.DropDownList("Type",
            EnumHelper.GetSelectList(typeof(Models.TypeEnum)),
            "Select Type",
            new { @class = "form-control btn" })
        <input id="Submit" type="submit" value="Search" class="btn btn-default" />
    }
</div>
<div class="row">
    <div class="col-md-12">
        <div id="clientsTable">
            @Html.Partial("_ClientTable", Model.AvailableClients)
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Submit").click(function (event) {
                // prevent page to reload
                event.preventDefault(); 
                $.ajax(
                    {
                        type: "GET",
                        url: "/Home/ClientsTable",
                        data: {
                            type: $("#Type").val()
                        },
                        success: function (result) {
                            // replace the table when success
                            $('#clientsTable').html(result);
                        }
                    })
            });
        });
    </script>
}